// --------------------------------------------------
// #Colors settings
// --------------------------------------------------

$color-primary: deeppink;
$color-primary-light: pink;

$color-secondary: blue;
$color-secondary: cyan;

$white: white;

$black: black;
$black-light: grey;

$bg-color: lightyellow;

$color-danger: red;
$color-warning: orange;
$color-success: limegreen;
