// --------------------------------------------------
// #Layout
// --------------------------------------------------

// Just a basic css grid as a starter point
.grid {
  margin: 0px auto; //centered grid
  display: grid;

  grid-template-columns:
    [full-start] minmax(4rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14.5rem) [col-end])
    [center-end] minmax(4rem, 1fr) [full-end];

  @include respond(tablet-port) {
    grid-template-columns:
    [full-start] minmax(2rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14.5rem) [col-end])
    [center-end] minmax(2rem, 1fr) [full-end];
  }
}

.grid-item {
  grid-column: center-start / center-end;
}

// Grid Fix
// To get background-color in 100% width but <element> content in center layout
//
// .<element>:before{
//   content: "";
//   z-index: -1;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: -100vw;
//   right: -100vw;
//   background:inherit;
// }


